.Explore{
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    button{
    // width: 120px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px !important;
    background-color: $mainColor;
    transition: 0.8s;
    // margin: 0 auto;
    &:hover{
        // width: 150px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
}